html,
body {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
  background-color: black;
}

#container {
  height:100%;
  width:100%;
}

.bar {
  background-color: #007acc;
  color: white;
  height: 20px;
  min-height: 20px;
  display: flex;
}

.bar-text {
  margin-left:10px;
  margin-right: auto;
  font-family: Consolas, "Courier New", monospace;
  font-weight: bold;
  font-size: 16px;
  font-feature-settings: "liga" 0, "calt" 0;
  font-variation-settings: normal;
  line-height: 19px;
  letter-spacing: 0px;
}

.bar-icons {
  float: right; 
  margin-left: auto; 
  margin-right: 10px;
  display: flex;
}

.bar-icons, svg {
  height: 18px;
  cursor: pointer;
  margin-right: 5px;
  margin-top: 1px;
  margin-bottom: 2px;
}

.panel-container-vertical {
  display: flex;
  flex-direction: column;
  height:  calc(100% - 20px);;
  overflow: hidden;
}

.panel-top {
  flex: 0 0 auto;
  max-height: 99%;
  height: 50%;
  width: 100%;
}

.panel-bottom {
  flex: 1 1 auto;
}

.splitter-horizontal {
  flex: 0 0 auto;
  height: 1%;
  background: url(/static/jquery-resizable-dom/assets/hsizegrip.png) center center no-repeat #535353;
  cursor: row-resize;
  background-color: black;
}

#terminal-container {
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.resizable {
  resize: vertical;
  overflow: auto;
}